<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="TrenBiletiSatisSistemiEntities" connectionString="metadata=res://*/BiletSatisSistemiModel.csdl|res://*/BiletSatisSistemiModel.ssdl|res://*/BiletSatisSistemiModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LENOVO;initial catalog=TrenBiletiSatisSistemi;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TrenBiletiSatisSistemiEntities1" connectionString="metadata=res://*/BiletSatisSistemiModel2.csdl|res://*/BiletSatisSistemiModel2.ssdl|res://*/BiletSatisSistemiModel2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LENOVO;initial catalog=TrenBiletiSatisSistemi;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TrenBiletiSatisSistemiEntities2" connectionString="metadata=res://*/BiletSatisSistemiModel2.csdl|res://*/BiletSatisSistemiModel2.ssdl|res://*/BiletSatisSistemiModel2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LENOVO;initial catalog=TrenBiletiSatisSistemi;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TrenBiletiSatisSistemiEntities3" connectionString="metadata=res://*/BiletSatisSistemiModel3.csdl|res://*/BiletSatisSistemiModel3.ssdl|res://*/BiletSatisSistemiModel3.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LENOVO;initial catalog=TrenBiletiSatisSistemi;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TrenBiletiSatisSistemiEntities4" connectionString="metadata=res://*/BiletSatisSistemiModel4.csdl|res://*/BiletSatisSistemiModel4.ssdl|res://*/BiletSatisSistemiModel4.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LENOVO;initial catalog=TrenBiletiSatisSistemi;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TrenBiletiSatisSistemiEntities5" connectionString="metadata=res://*/BiletSatisSistemiModel5.csdl|res://*/BiletSatisSistemiModel5.ssdl|res://*/BiletSatisSistemiModel5.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LENOVO;initial catalog=TrenBiletiSatisSistemi;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TrenBiletiSatisSistemiEntities6" connectionString="metadata=res://*/BiletSatisSistemiModel6.csdl|res://*/BiletSatisSistemiModel6.ssdl|res://*/BiletSatisSistemiModel6.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LENOVO;initial catalog=TrenBiletiSatisSistemi;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>